* {
  box-sizing: border-box;
  font-family: system-ui;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

#__next {
  width: 100vw;
  height: 100vh;
}

h6 {
  justify-content: space-between;
}